/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	background-image:url('../img/bg_thread.png');
}

h1,h2,h3,h4,h5 {
	font-family: 'Alef', sans-serif;
	font-weight: bold;
}

h2 {
	font-size: 1.5em;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	margin-bottom: 0.5em;
}

h3 {
	font-size: 1.2em;
	margin-bottom: 0.5em;
}

hr {
	margin-top: 1em;
	margin-bottom: 1em;
}

p {
	margin-bottom: 1.5em;
}

b {
	font-weight: bold;
}

a, a:visited {
	text-decoration: none;
	font-weight: bold;
	color: #224477;
}

a:hover {
	color: #227799;
}

#backgroundCanvas {
	top:0;
	width:100%;
	height:100%;
	position:absolute;
	overflow:clip;
	z-index:-10;
}

#backgroundCanvas img {
	width:100%;
}

#backgroundCanvas canvas {
	position: absolute;
	top: 0;
}

#container {
	background: rgba(255,255,255,0.85);
	margin-top:1em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
	width:960px;
	box-shadow: inset 0 0 45px rgba(0,0,0,0.35),
		0 3px 15px rgba(0,0,0,0.8);
	border-radius: 6px;

	z-index: 0;
}

#header, #footer-img {
	padding:2em;
	background: white;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	overflow: hidden;
	color:white;
	background-image: url('../img/header.png');
}

#header p {
	font-family: 'Alef', sans-serif;
	font-weight: bold;
	font-size: 1.8em;
	text-shadow: 2px 2px 1px #224477;
	margin: 0;
}

#nav, #footer {
	background-color: black;
	color: white;
	text-align: center;
	padding:0.5em;
	border-bottom: 2px solid #224477;
	border-top: 2px solid #224477;
	z-index: 10;
	box-shadow: 0 1px 6px rgba(0,0,0,0.6);

	background: rgb(0,0,0); /* Old browsers */
	background: -moz-linear-gradient(left, rgb(0,0,0) 0%, rgb(61,61,61) 50%, rgb(0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(0,0,0)), color-stop(50%,rgb(61,61,61)), color-stop(100%,rgb(0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgb(0,0,0) 0%,rgb(61,61,61) 50%,rgb(0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgb(0,0,0) 0%,rgb(61,61,61) 50%,rgb(0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgb(0,0,0) 0%,rgb(61,61,61) 50%,rgb(0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to right, rgb(0,0,0) 0%,rgb(61,61,61) 50%,rgb(0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
}

#footer {
	box-shadow: 0 -1px 6px rgba(0,0,0,0.6);
}

#footer-img {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	padding: 0.5em;
}

#nav ul {
	list-style: none;
	position: relative;
	width:960px;
}

#nav ul li {
	display: inline;
}

#nav ul li a.current {
	font-weight: bold;
}

#nav ul li a, #nav ul li a:visited {
	font-weight: normal;
	padding: 0.5em;
	color:white;
	text-decoration: none;
}

#nav ul li a:hover {
	color: #11ffcc;
}

#magic-line {
	position: absolute;
	bottom: -0.5em;
	left: 0;
	width: 100px;
	height: 2px;
	background: #11ffcc;
}

#content {
	text-align: center;
	position: relative;
	padding:2em;
	overflow-x: hidden;
}

.middle-float, .project-right, .highlight {
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */

	border-top: 1px solid rgba(0,0,0,0.1);
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.highlight {
	text-align: center;
	padding-top: 1em;
	margin-bottom: 2em;
}

.middle-float-wrap {
	margin-bottom: 2em;
	float:left;
	position: relative;
	left:50%;
}

.middle-float {
	float:left;
	position: relative;
	left: -50%;

	padding-top:1em;
}

.middle-float div {
	font-family: 'Alef', sans-serif;

	text-align: center;
	display: inline-block;
	float:left;
	width:10em;
	margin: 1em;
}

.middle-float div img {
	border: 1px solid black;
	width:100%;
	box-shadow: 1px 1px 6px rgba(0,0,0,0.7);
	margin-bottom: 0.5em;
}

.middle-float div img:hover {
	opacity: 0.9;
	box-shadow: 1px 1px 10px rgba(0,0,0,1);
}

.project-left {
	float:left;

	border: 1px solid black;
	box-shadow: 1px 1px 6px rgba(0,0,0,0.7);

	margin-bottom: 2em;
	margin-right: 2em;
}

.project-right {
	float:left;
	text-align: left;
	width:700px;
	height:160px;
}

.project-right h2 {
	margin-top: 0.1em;
}

.project-right span {
	border: 1px solid rgba(0,0,0,0.1);
	padding:0.15em;
	margin-left: 0.2em;
	border-radius: 3px;
	background-color: rgba(0,0,0,0.05);

	font-size: 0.8em;
}