@font-face {
    font-family: 'Text';
    src: url('fonts/overlock-regular-webfont.eot');
    src: url('fonts/overlock-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/overlock-regular-webfont.woff') format('woff'),
         url('fonts/overlock-regular-webfont.ttf') format('truetype'),
         url('fonts/overlock-regular-webfont.svg#overlockregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html
{
	height:100%;
}

body
{
	text-align:center;

	background-color:#333;
	
	background-image: linear-gradient(bottom, #545454 100%, #1A1A1A 0%);
	background-image: -o-linear-gradient(bottom, #545454 100%, #1A1A1A 0%);
	background-image: -moz-linear-gradient(bottom, #545454 100%, #1A1A1A 0%);
	background-image: -webkit-linear-gradient(bottom, #545454 100%, #1A1A1A 0%);
	background-image: -ms-linear-gradient(bottom, #545454 100%, #1A1A1A 0%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(1, #545454),
		color-stop(0, #1A1A1A)
	);
}

#game
{
	font-size:20px;
	position:relative;
	width:40em;
	height:28em;
	margin:1em auto;
	
	background-color:#ccc;
	border: 2px solid black;
	box-shadow: 0px 3px 20px #000;
}

#backgroundCanvas
{
	width:40em;
	height:28em;
	position:absolute;
}

#gameScreenCanvas
{
	width:100%;
	height:100%;
	position:absolute;
	z-index:0;
}

.screen
{
	position:relative;
	margin:0em;
	display:none;
}

.screen.active
{
	display:block;
}

.progress
{
	margin-left:auto;
	margin-right:auto;
	width:20em;
	height:1em;
	border:2px solid white;
	border-radius:5px;
	overflow:hidden;
	
	box-shadow: 1px 1px 6px rgba(0,0,0,0.7);
}

.progress .bar
{
	height:100%;
	width:0%;
	background-color:rgb(32,140,140);
}

.logo
{
	font-family:Text;
	text-align:center;
}

.logo h1
{
	font-size:3em;
	color:#fff;
	
	text-shadow: 2px 2px 1px rgb(32,140,140),
	0px 0px 2px rgb(0,0,0),
	0px 0px 8px rgba(0, 0, 0, 0.5);
	
	margin-bottom:0;
}

.logo h3
{
	color:#fff;
	
	text-shadow:
	0px 0px 4px rgb(0, 0, 0);
}

.label
{
	font-family:Text;
	color:rgb(0,0,0);
	text-shadow: 0px 1px 3px rgba(0,0,0,0.2);
	font-size:1em;
	height:1em;
}

.menuBar
{
	text-align:left;
	margin-left:0.5em;
}

.menuBar button
{
	height:1.4em;
	font-size:0.7em;
	border:1px solid black;
	margin-left:0.1em;
	margin-right:0.1em;
}

menu
{
	text-align:center;

	padding: 0;
	margin: 0;
	list-style: none;
}

menu li
{
	margin:1em 0;
}

button
{
	font-family:Text;
	color:rgb(255,255,255);
	background-color:rgb(64,64,64);
	border:2px solid black;
	
	width:4em;
	font-size:1em;
	height:1.5em;
	
	box-shadow: 0px 1px 8px rgba(0,0,0,0.7);
	cursor:pointer;
	
	border-radius:0.2em;
	
	transition: background-color 0.25s;
	-moz-transition: background-color 0.25s; /* Firefox 4 */
	-webkit-transition: background-color 0.25s; /* Safari and Chrome */
	-o-transition: background-color 0.25s; /* Opera */
	
	position:relative;
	
	z-index:10;
}

button:hover
{
	background-color:rgb(0,128,128);
}

button:active
{
	background-color:rgb(64,192,192);
	box-shadow: 0px 1px 3px rgba(0,0,0,0.7);
}

menu li button
{
	font-size:1.5em;
	width:5em;
	height:2.0em;
	border-radius:0.2em;
	
	z-index:10;
}

.floatingCardBox
{
	position:absolute;
	
	left:30em;
	top:4em;
	height:96px;
	
	box-shadow: 0px 2px 4px rgba(0,0,0,0.7);
	padding:0em;
	margin:0em;
}

#gameScreen
{
	height:100%;
}

#playButton
{
	font-family:Text;
	text-align:center;
	cursor:pointer;
	font-size:1.2em;
	
	transition: color 0.25s;
	-moz-transition: color 0.25s; /* Firefox 4 */
	-webkit-transition: color 0.25s; /* Safari and Chrome */
	-o-transition: color 0.25s; /* Opera */
	
	text-shadow: 1px 1px 3px rgba(0,128,128,0.5);
	
	z-index:10;
}

#playButton:hover
{
	color:rgb(64,192,192);
}

#statsLabel
{
	margin-left:0.4em;
	font-size:0.8em;
}